**/target
**/.project
**/.settings
**/.classpath
**/.idea
**/build
**/cmake-build-debug
**/*.swp
**/vsprojects/*
**/.vscode
*.o
*.pc
**/.DS_Store
**/.mvn
**/consul-darwin
**/consul-linux
**/*.iml
**/.ipynb_checkpoints
