target
.project
.settings
.classpath
.idea
build
**/cmake-build-*
*.swp
vsprojects/*
.vscode
*.o
*.pc
.DS_Store
.mvn
consul-darwin
consul-linux
*.iml
.ipynb_checkpoints

__pycache__
*.pyc


# node
node_modules


vsprojects

logs
